.vod-title {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.vod-banner {
  margin-bottom: 32px;
}

// 移动端
@media all and (max-width: $width-app) {
  .container {
    padding: 0 !important;
  }
  .vod-banner {
    margin-bottom: $margin-large;
  }
  .vod-card {
    padding: 0 $padding-mini-xs;
  }
}
