.container {
  position: relative;
}

.top-bg {
  position: absolute;
  width: 100%;
  height: 200px;
  flex-shrink: 0;
  border-radius: 0px 0px 32px 32px;
  background: #5669FF;
  z-index: 0;
}

.hotel-search-box {
  position: relative;
  z-index: 1;
  margin-bottom: 16px;
  padding: 0 13.5px;
}

.common-box {
  margin-bottom: 16px;
  padding: 0 13.5px;
}

// // 移动端
// @media all and (max-width: $width-app) {
//   .banner-container {
//     margin-bottom: $margin-large-xxs;
//   }
// }

.card-container {
  // border: 1px solid red
}

.card-title {
  color: var(--Color-Typography-Title, #120D26);
  font-family: "PingFang SC";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 188.889% */
}

.card-title-des {
  color: rgba(24, 24, 24, 0.50);
  font-family: "PingFang SC";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
}

.card-content-item {
  width: 50%;
  margin-bottom: 10px;
  padding-right: 5px;
}

.card-content-item-2 {
  width: 50%;
  margin-bottom: 10px;
  padding-left: 5px;
}