.container {
  @include font_color('text_normal');
  @include bg_color('bg_normal');
  @include flex();
  @include space-xs();
  @include middle-xs();
  position: fixed;
  left: 0;
  top: 0;
  z-index: $head-zindex;
  width: 100%;
  height: $height-header;
  padding-left: 32px;
  // opacity: 0.9;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  .logo {
    @include font_color('logo_text');
    font-size: $font-large-xxs;
    .content {
      @include flex;
      // @include center-xs;
      @include middle-xs;
      width: 240px;
    }
    .logo-img {
      margin-right: $margin-large-xxxxs;
    }
    a {
      color: getColor('text_normal');
    }
  }
  .search {
    width: 480px;
    height: 42px;
    margin-left: -240px;
  }
  .app-menu {
    display: none;
  }
}

// 移动端
@media all and (max-width: $width-app) {
  .container {
    padding: 0 $padding-large;
    // background: #fdfbea !important;
    background-image: url('/images/head_bg.webp');
    background-size: 100% 100%;
    box-shadow: none;
    .logo {
      display: none;
    }
    .search {
      width: 100%;
      height: 34px;
      font-size: 24px;
      text-align: center;
      margin: 0;
    }
    .app-menu {
      display: block;
      margin-right: $margin-large;
    }
  }
}